#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

button {
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin: 5px;
}

.container {
  background-color: purple;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colour {
  margin: 50px;
  padding: 10px;
  font-size: 20px;
  flex-grow: 1;
}

h1 {
  margin-left: 45%;
}
